@import url('https://fonts.googleapis.com/css2?family=Anta&family=Honk:MORF@24&display=swap');
*{
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
    scroll-behavior: smooth;

    body { --scrollbar-width: 15px; --scrollbar-height: 15px; --scrollbar-border-radius: 36px; --scrollbar-border-thickness: 0px; --scrollbar-thumb-color: #00000099; --scrollbar-track-color: #FFFFFF00; --scrollbar-border-color: #FFFFFF00; --scrollbar-corner-color: #FFFFFF00; --scrollbar-button-color: #3F3F4600; } body::-webkit-scrollbar { width: var(--scrollbar-width, 20px); height: var(--scrollbar-height, 20px); }body::-webkit-scrollbar-thumb { background: var(--scrollbar-thumb-color, #3B82F6); border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); border-radius: var(--scrollbar-border-radius, 4px); }body::-webkit-scrollbar-track { background: var(--scrollbar-track-color, #A1A1AA); }body::-webkit-scrollbar-corner { background: var(--scrollbar-corner-color, #FFFFFF); border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); border-radius: var(--scrollbar-border-radius, 4px); }body::-webkit-scrollbar-button:vertical:start:increment, #preview::-webkit-scrollbar-button:vertical:end:decrement, #preview::-webkit-scrollbar-button:horizontal:start:increment, #preview::-webkit-scrollbar-button:horizontal:end:decrement { display: var(--show-double-buttons, none); }
}
.contreiner{
    display: flex;
    background-color: rgba(247, 177, 128, 0.644);
    background-image: url("/images/Fondo_Negro_5.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.colum{
    /* background-image: url("/images/6e371b30586bae26b6c2160901dd8c0b.jpg"); */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    padding: 10px;
    /* border: inset 3px #3a200e8e; */
    width: 33vw;
    height: 98vw;
    color: #fff;
}
.colum2{
    /* background-image: url("/images/6e371b30586bae26b6c2160901dd8c0b.jpg"); */
    /* background-position: center;
    background-repeat: no-repeat; */
    padding: 10px;
    /* border: inset 3px #3a200e8e; */
    width: 33vw;
    height: 98vw;
    color: #fff;
}
.colum3{
    /* background-image: url("/images/6e371b30586bae26b6c2160901dd8c0b.jpg"); */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    padding: 10px;
    /* border: inset 3px #3a200e8e; */
    width: 33vw;
    height: 98vw;
    color: #fff;
}
.info{
    font-size: 20px;
    border-radius: 2%;
    padding: 8px 8px 20px;
    transition: .4s ease-in-out;
}

.info:hover{
    background: #7e7e7e3f;
    scale: 1.01; 
}

.show{
    font-size: 20px;
    border-radius: 2%;
    padding: 8px;
    transition: .1s ease-in-out;
    opacity: 0;
}

.info.show{
    display: none;
    opacity: 0;
}

.show:hover{
    opacity: 1;
    display: block;
}

/* 
.show:hover.info{
    display: block;
} */

.pfp{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25%;
    align-items: center;   /* Centrar elementos horizontalmente */
    border-radius: 75%;
    width: 50%;
    transition: .4s ease-in-out;
}

.pfp:hover{
    scale: 1.06;
    border-radius: 10%;
}

.logo{
    width: 50px;
}

.button{
    color: #fff;
    display: flex;
    align-items: center;
    justify-items: center;    /* Centrar elementos horizontalmente */
    text-decoration: none;
    background-color: rgba(48, 25, 110, 0.479);
    border-radius: 8%;
    padding: 8px;
    transition: .4s ease-in-out;
    user-select: none;
}
.button:hover{
    background-color: rgba(67, 35, 85, 0.842);;
    scale: 1.05;
}
.button:visited{
    text-decoration: underline;
}

.listado{
    overflow: auto;
    padding: 15px;
    background-color: rgba(48, 25, 110, 0.479);
    border: inset 3px rgba(48, 25, 110, 0.884);
    transition: .4s ease-in-out;
    user-select: none;
}

.listado:hover{
    background-color: rgba(67, 35, 85, 0.842);;
    scale: 1.05;
}

.check{
    display: flex;
    
}

#contenidoAdicional {
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }
  
  #contenidoAdicional.oculto {
    display: none;
    opacity: 0;
  }
  
  #mostrarContenido:checked ~ #contenidoAdicional {
    display: block;
    opacity: 1;
  }

/* DropDOWN */

.body:has( .dropdown:target ){
    --img1: scale(0);
    --img2: scale(1);

    --clip:inset(0 0 0 0);
}


.dropdown__list{
    list-style: none;
}


.dropdown__link{
    color: #fff;
    padding: 1em .7em;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    gap: .6rem;

    position: relative;
    transition: 0.3s ease-in-out;
}

.dropdown__link:hover{
    background: #7e7e7e3f;
    scale: 1.01;
}

.dropdown__list:has( :checked ){
    --rows: 1fr;
    --rotate: rotate(180deg);
}

.dropdown__check{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown__arrow{
    margin-left: auto;
    transform: var(--rotate, 0);
    transition: .45s transform;
}

.dropdown__content{
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .5s grid-template-rows;
}

.dropdown__sub{
    overflow: hidden;
}
